.container {
  margin-top: 25px;
}

/* Pour réduire la taille des icônes Feather */
svg.feather {
  max-width: 16px;
  max-height: 16px;
}

#background {
  background: url("/views/assets/images/background.jpg") center no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}